@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import 'header.css';
@import 'footer.css';

:root {
    --width-page: 1440px;
    --width-content: 1200px;
    --content-padding-bottom: 150px;
    --grid-colums: calc(var(--width-content) / 1.8) calc(var(--width-content) / 2.6);
    --grid-gap: 130px;
    --padding-bottom: clamp(1em, 2.5vw, 2em);
    --default-padding: 0 clamp(1em, 5vw, 3em) var(--content-padding-bottom);
    --font-size-nav: 14px;
    --btn-color: rgba(98, 68, 198, 1);
}

@media (max-width: 768px) {
    :root {
        --content-padding-bottom: 80px;
    }

    .content-grid {
        grid-template-columns: 1fr !important;
    } 

    .content-grid div[mobile="justify-self-c"] {
        margin: 0 auto;
    }

    .btn-controller-slider {
        position: unset !important;
        justify-content: end !important;
    }


}

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: clamp(2.6em, 64px, 5vw);
}

h2 {
    font-size: 24px;
    font-weight: 500;
    margin: 2em 0 20px 0;
}

h3 {
    font-size: 20px; 
    font-weight: 400;
    margin-bottom: 10px;
}

.h1-sub-title {
    font-size: clamp(30px, 5vw, 45px) !important;
    padding-bottom: var(--padding-bottom);
}

p, span {
    font-size: clamp(1rem, 2.5vw, 18px);
    font-weight: 300;
    font-family: Poppins , sans-serif;
    font-style: normal;
    color: rgb(29, 29, 29);
}

h1, h2, h3, h4 {
    color: rgb(29, 29, 29);
    font-family: Poppins , sans-serif;
}

/* ABOUT */

.elipse-window {
    width: 200px;
    height: 200px;
    background-image: url('../img/eu.jpg');
    border-radius: 50%;
    background-position: 40% 40%;
    background-size: 400px;
    margin: 0 auto;
    margin-bottom: 75px;
}

.flex-content {
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;
}

.content-grid {
    max-width: calc(var(--width-content) / 1.8 + var(--width-content) / 2.6 + var(--grid-gap));
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    margin: 0 auto;
    padding: var(--default-padding);
    gap: 3em;
}

.year-number {
    font-size: clamp(120px, 10vw, 160px) ;
    font-family:  'Poppins', sans-serif;
    position: relative;
    text-align: center;
}

.year-number::after {
    position: absolute;
    top: 90%;
    left: 0;
    content: 'Years';
    font-family: Poppins , sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 45.625px;
}

.text {  
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/* ABOUT */

/* SLIDER */

.content-project {
    max-width: calc(var(--width-content) + var(--grid-gap)); 
    padding-bottom: var(--content-padding-bottom);
    margin: 0 auto;
    padding: var(--default-padding); 
    overflow-y: hidden;
    position: relative;
}

.select-slider {
    display: flex;
    justify-content: flex-end;
    gap: 80px;
    margin: clamp(10px, 5vw, 40px) 0 clamp(2em, 10vw, 7.5em);
}

.select-slider li {
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    position: static;
    cursor: pointer;
}

.selected {
    content: ' ';
    position: absolute;
    top: 100px;
    height: 2px;
    background-color: rgb(25, 105, 143);
}

.slider-wrapper {
    overflow: hidden;    
}

.slider-wrapper ul {
    transition: .5s;
    display: flex;  
    
}

.slider-wrapper ul:first-child {
    padding-left: clamp(.1em, 1vw, 35px);
}

.slider-wrapper ul li {
    border-radius: 20px;
    flex-shrink: 0;
    margin: 0 20px;
    width: 80vw;
    max-width: 390px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,.4);
    opacity: .8;
    transform: scale(.8);
    transition: .4s;
    cursor: pointer;
}

.slider-wrapper ul li img {
    width: 100%;
}

.slider-wrapper ul li div {
    background: rgba(0, 0, 0, 0.82);
    position: absolute;
    height: 200px;
    top: 70%;
    left: 0;
    padding: 10px;
    transform: .5s;
    display: none;
    animation: opacit 1s ease-in;
    width: 100%;
}

.active {
    opacity: 1 !important;
    transform: scale(1) !important;
}

.d-block {
    display: block !important;
}

@keyframes opacit {
    from {
        opacity: 0;
  
    }
    to {
        opacity: 1;
       
    }   
}

.slide-buttons {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 30px 0;
}

.btn-index-slide {
    width: 30px;
    height: 30px;
    background-color: rgb(25, 49, 70);
    background-size: cover;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    margin: 0 10px;
    background-size: cover;
}

.btn-controller-slider {
    position: absolute;
    width: 100%;
    display: flex;
    left: 0;
   
    gap: 10px;
    top: 40%;
    justify-content: space-between;
    
}

.arrow-button {
    width: clamp(30px, 5vw, 60px);
    height: clamp(30px, 5vw, 60px);
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(59, 125, 212, 0.418);
    border: none;
    height: 30xp;
    outline: none;
    text-align: center;
    
}

.arrow-button img {
    width: 30px;
    height: 30px;
    
}

.flip img{
    transform: rotate(180deg)
}

/* SLIDER */

/* SKILLS */

.buttons-toggle {
    border: 2px solid violet;
    display: flex;
    border-radius: 10px;
    margin-bottom: var(--padding-bottom);
}

.btn-skill {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: var(--btn-color);
    font-size: clamp(16px, 5vw, 20px);
    transition: .5s ease-in;
    outline: none;
}

.btn-actived {
    background-color: var(--btn-color);
    color: white;
}

.exp-ed {
    display: flex;
    flex-wrap: wrap;
}

.exp-ed div {
    animation: opacit 1s ease-out;
}


/* SKILLS */
