@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import 'header.css';
@import 'footer.css';

:root {
    --width-page: 1440px;
    --width-margin: 970px;
    --center-content: 0 auto;
    --body-color: rgb(255, 255, 255);
    --color-nav: rgba(3, 3, 3, .8);
    --bg-color:rgb(41, 49, 56);
    --bg-black20: rgba(20, 20, 20, 1);
    --color-blue-transparent: rgba(75, 126, 255, .3);
    --hamburguer: white;
    --color-blue: rgb(46, 105, 160);
    --font-heebo: 'Heebo', sans-serif;
    --font-text:  sans-serif;
    --font-text-color: rgba(255, 255, 255, 1);
    --font-header-color: rgba(36, 186, 182, 1);
    --font-size-nav: 14px;
}

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: clamp(2.6em, 64px, 5vw);
}

h2 {
    font-size: 24px;
    font-weight: 500;
    margin: 20px 0;
}

h3 {
    font-size: 20px; 
    font-weight: 400;
    margin-bottom: 5px;
}

p, span {
    font-size: clamp(.9rem, 2.5vw, 20px);
    font-weight: 300;
    font-family: Poppins , sans-serif;
    font-style: normal;
    color: rgb(29, 29, 29);
}

h1, h2, h3, h4 {
    color: rgb(29, 29, 29);
    font-family: Poppins , sans-serif;
}

.elipse-window {
    width: 200px;
    height: 200px;
    background-image: url('../img/eu.jpg');
    border-radius: 50%;
    background-position: 40% 40%;
    background-size: 400px;
    margin: 0 auto;
    margin-bottom: 75px;
}

.flex-content {
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.content-about, .content-project {
    display: grid;
    grid-template-columns: 680px 480px;
    justify-content: center;
    gap: 130px;
    padding-bottom: 180px;
}

.year-number {
    font-size: 160px ;
    font-family:  'Poppins', sans-serif;
    position: relative;
    text-align: center;
}

.year-number::after {
    position: absolute;
    top: 90%;
    left: 0;
    content: 'Years';
    font-family: Poppins , sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 45.625px;
}

.text {  
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}