@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import 'header.css';
@import 'footer.css';

:root {
    --width-page: 1440px;
    --width-content: 1200px;
    --content-padding-bottom: 180px;
    --grid-colums: calc(var(--width-content) / 1.8) calc(var(--width-content) / 2.6);
    --grid-gap: 130px;
    --padding-mobile: 0 1em;
    --font-size-nav: 14px;
}

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: clamp(2.6em, 64px, 5vw);
}

h2 {
    font-size: 24px;
    font-weight: 500;
    margin: 20px 0;
}

h3 {
    font-size: 20px; 
    font-weight: 400;
    margin-bottom: 5px;
}

p, span {
    font-size: clamp(.9rem, 2.5vw, 20px);
    font-weight: 300;
    font-family: Poppins , sans-serif;
    font-style: normal;
    color: rgb(29, 29, 29);
}

h1, h2, h3, h4 {
    color: rgb(29, 29, 29);
    font-family: Poppins , sans-serif;
}

.elipse-window {
    width: 200px;
    height: 200px;
    background-image: url('../img/eu.jpg');
    border-radius: 50%;
    background-position: 40% 40%;
    background-size: 400px;
    margin: 0 auto;
    margin-bottom: 75px;
}

.flex-content {
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.content-about, .content-skills {
    display: grid;
    grid-template-columns: var(--grid-colums);
    justify-content: center;
    gap: var(--grid-gap);
    padding-bottom: var(--content-padding-bottom);
}

.year-number {
    font-size: 160px ;
    font-family:  'Poppins', sans-serif;
    position: relative;
    text-align: center;
}

.year-number::after {
    position: absolute;
    top: 90%;
    left: 0;
    content: 'Years';
    font-family: Poppins , sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 45.625px;
}

.text {  
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.content-project {
    max-width: calc(var(--width-content) + var(--grid-gap)); 
    padding-bottom: var(--content-padding-bottom);
    margin: 0 auto;
    padding: var(--padding-mobile);
    height: 900px;
    overflow-y: hidden;
}

.select-slider {
    display: flex;
    justify-content: flex-end;
    gap: 80px;
    margin: 40px 0 120px 0;
}

.select-slider li {
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    position: static;
    cursor: pointer;
}

.selected {
    content: ' ';
    position: absolute;
    top: 100px;
    height: 2px;
    background-color: rgb(25, 105, 143);
}

.grid-section {
    
}

.slider-wrapper {
    overflow: hidden;    
}

.slider-wrapper ul {
    transition: .5s;
    display: flex;  
}

.slider-wrapper ul:first-child {
    padding-left: 35px;
}

.slider-wrapper ul li {
    flex-shrink: 0;
    width: 80vw;
    max-width: 500px;
    margin: 0 20px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,.4);
    opacity: .8;
    transform: scale(.8);
    transition: .4s;
    cursor: pointer;
}

.slider-wrapper ul li img {
    width: 100%;
}

.slider-wrapper ul li div {
    background: rgba(0, 0, 0, 0.82);
    position: absolute;
    height: 200px;
    top: 70%;
    left: 0;
    padding: 10px;
    transform: .5s;
    display: none;
    animation: teste 1s ease-in;
    width: 100%;
}

.active {
    opacity: 1 !important;
    transform: scale(1) !important;
}

.d-block {
    display: block !important;
}

@keyframes teste {
    from {
        opacity: 0;
  
    }
    to {
        opacity: 1;
       
    }
    
}

