/* 
    //////---  NAVBAR  ---//////
*/

nav {
    position: absolute;
    top: 0;
    width: 100%;
    
    z-index: 2;
}

.navbar {
    font-family: var(--font-heebo);
    background: transparent;
    color: var(--font-text-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    font-size: var(--font-size-nav);
}

.navbar ul li {
    padding: 1.45em;
    cursor: pointer;
    font-weight: 500;
}

.navbar ul li:hover {
    background-color: var(--color-blue);
    transition: .5s;
}

.navbar ul li:last-child {
    background-color: var(--color-blue);
}

.navbar ul li:last-child:hover {
    background-color: orange;
}

.menu-mobile {
    padding: 5px;
    border-radius: 10px;  
    cursor: pointer;
    width: 60px;
    height: 50px;
    position: relative;
    z-index: 2;
}

.menu-mobile:hover {
    background-color: rgb(63, 63, 63);
}

.menu-hamburguer {
    height: 3px;
    width: 35px;
    background-color: var(--hamburguer);
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 20%;
}

.menu-hamburguer::after {
    position: absolute;
    content: ' ';
    height: 3px;
    width: 35px;
    top: -10px;
    background-color: var(--hamburguer);
    border-radius: 10px;
}

.menu-hamburguer::before {
    position: absolute;
    content: ' ';
    height: 3px;
    width: 35px;
    top: 10px;
    background-color: var(--hamburguer);
    border-radius: 10px;
}

.mobile-menu {
    background-color: rgb(39, 39, 39);
    padding: 10px 0;
}

.mobile-menu li {
    color: white;
    font-family: 'Open Sans', 'Courier New', Courier, monospace;
    font-weight: 500;
    padding: 3px 10px;
}


/* 
    //////---  NAVBAR  ---//////
*/

.bg-color-header {
    background-color: rgb(98, 168, 233);
}

.header-content {
    padding-top: 50px;
    position: relative;
    height: 900px;
    align-items: center;
}

.header-content .bg-image { 
    position: relative;
    
}

.header-content .bg-image .circle-animation {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    animation: move 10s alternate infinite;
}

@keyframes move {
    0% {
        top: -150px;
        left: 50px;
    }
    100% {top: 150px;}
}

@keyframes color-change {
    from {filter: hue-rotate(0deg);}
    to {filter: hue-rotate(360deg);}
}

.header-name {
    
    font-family: var(--font-title);
}

.header-name::before {
    position: absolute;
    content: '';
    height: 80px;
    width: 1px;
    top: 10%;
    left: -20px;
    background-color: var(--font-text-color);
}

@media (max-width: 1200px) {
    .header-content {
        height: 900px;
    }
    
    .mask-img {
        left: 0;
    }
}

@media (max-width: 700px) {
    .header-content {
        height: 700px;
    }
    
}

@media (max-width: 500px) {
    .navbar, .mask-img {
        display: none;
    }

    .header-name {
        left: 5%;
    }


}