@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
@import 'header.css';
@import 'about.css';
@import 'project.css';
@import 'skills.css';

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--font-header-color);
    font-size: 64px;
}

h3 {
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'Heebo', sans-serif;
}

h4 {
   color: white;
   font-size: 20px; 
   font-weight: 400;
   margin-bottom: 5px;
   font-family: 'Heebo', sans-serif;
}

a {
    color: var(--color-blue);
}

p, span {
    color: white;
    font-size: clamp(.8rem, 2.5vw, .9rem);
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --width-page: 1440px;
    --width-margin: 970px;
    --center-content: 0 auto;
    --body-color: rgba(24, 26, 25, 1);
    --color-nav: rgba(3, 3, 3, .8);
    --bg-black:rgba(17, 17, 17, 1);
    --bg-black20: rgba(20, 20, 20, 1);
    --color-blue: rgba(75, 126, 255, 1);
    --color-light-blue: rgb(107, 180, 248);
    --color-blue-transparent: rgba(75, 126, 255, .3);
    --font-heebo: 'Heebo', sans-serif;
    --font-title: 'Bellota Text';
    --font-text:  sans-serif;
    --font-text-color: rgba(255, 255, 255, 1);
    --font-header-color: rgba(36, 186, 182, 1);
    --font-size-nav: 14px;
}

.bg-color-body {
    background: var(--body-color);
}

.bg-color-black {
    background-color: var(--bg-black);
}

.bg-color-black20 {
    background-color: var(--bg-black20);
}

.content-w-size {
    margin: var(--center-content);
    max-width: var(--width-page);
}


.margin-component {
    margin: 0 auto;
    width: var(--width-margin);
}

.padding-150 {
    padding: 80px 0;
}

.button-contact {
    background-color: transparent;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 23px;
    border: 1px solid var(--color-blue);
    font-family: var(--font-heebo);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 30px;
}

.button-contact:hover {
    background-color: var(--color-blue);
    transition: .3s;
}

.text-color {
    color: var(--font-text-color);
}

.span {
    font-size: 14px;
    color: rgb(141, 141, 141);
}

.w-content-flex-item {
    max-width: 450px;
}

.flex-content {
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

@media (max-width: 1170px) {
    .padding-150 {
        padding: 30px;
    }

    .flex-content {
        gap: 40px;
    }

    .w-content-flex-item {
        max-width: 400px;
    }
}

@media (max-width: 900px) {
    .w-content-flex-item {
        max-width: 300px;
    }
}
 
@media (max-width: 700px) {
    .w-content-flex-item {
        max-width: 100%;
    }
}